### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

*.apk
.flutter-plugin-dependencies
.filecache
app.dill
kernel_snapshot_program.d
kernel_snapshot_program.stamp
cache.dill.track.dill
index-*T*.json
kernel_blob.bin
generate_cxx_metadata_*_timing.txt
dex-renamer-state.txt